body {
  background-color: #6d4c41;
  font-family: Raleway;
}

button {
  width: 40px;
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 320px) {
  button {
    width: 60px;
  }
}

@media (min-width: 660px) {
  button {
    width: 80px;
  }
}

button.number {
  background-color: #4db6ac;
  color: white;
}

button.number:hover {
  background-color: #82e9de;
}

button.number:active {
  background-color: #00867d;
}

button.operator {
  background-color: #f57f17;
  color: #260e04;
}

button.operator:hover {
  background-color: #ffb04c;
}

button.operator:active {
  background-color: #bc5100;
}

button.equal, button.clear {
  background-color: #bc5100;
  color: white;
}

button.equal:hover, button.clear:hover {
  background-color: #ffb04c;
}

button.equal:active, button.clear:active {
  background-color: #f57f17;
}

.calc {
  margin: auto;
}

.line {
  margin-bottom: 3%;
  text-align: center;
}

@media (min-width: 768px) {
  .line {
    min-width: 400px;
  }
}

nav {
  height: 100px;
  width: 100vw;
  text-align: center;
  grid-area: navbar;
  background-color: #40241a;
  color: white;
  font-family: Audiowide;
  font-size: x-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
  position: fixed;
  left: 0px;
  top: 0px;
}

li {
  font-size: 18px;
  font-weight: bold;
}

li:nth-of-type(1) {
  color: #260e04;
}

li:nth-of-type(2) {
  color: #341305;
}

li:nth-of-type(3) {
  color: #421807;
}

li:nth-of-type(4) {
  color: #501d08;
}

li:nth-of-type(5) {
  color: #5d220a;
}

li:nth-of-type(6) {
  color: #6b280b;
}

li:nth-of-type(7) {
  color: #792d0d;
}

li:nth-of-type(8) {
  color: #87320e;
}

li:nth-of-type(9) {
  color: #953710;
}

li:nth-of-type(10) {
  color: #a33c11;
}

main {
  margin-top: 125px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 9px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: " calculator " " result " "history ";
}

@media (min-width: 768px) {
  main {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "calculator result" "history history";
  }
  main section.calculator {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: calculator;
  }
  main section.results {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: result;
  }
  main section.history {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: history;
  }
}

@media (min-width: 1024px) {
  main {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "calculator result history";
  }
  main section.calculator {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: calculator;
  }
  main section.results {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: result;
  }
  main section.history {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: history;
  }
}

section {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  margin: 3px;
  padding: 20px;
  background-color: #9c786c;
  color: white;
}

section.calculator {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: calculator;
}

section.results {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: result;
}

section.history {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: history;
}
/*# sourceMappingURL=styles.css.map */