// colors
$colors: (
  main-regular: #6d4c41,
  main-light: #9c786c,
  main-dark: #40241a,
  regular-blue: #4db6ac,
  dark-blue: #00867d,
  light-blue: #82e9de,
  black: #260e04,
  white: white,
  regular-orange: #f57f17,
  light-orange: #ffb04c,
  dark-orange: #bc5100,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
};


// fonts
$font-stack: (
  primary: #{"Audiowide"},
  secondary:#{"Raleway"}
);
@function font($font-name) {
  @return map-get($font-stack, $font-name)
};

// Screen Resizing
$screen-xs: 320px;
$screen-sm: 660px;
$screen-md: 768px;
$screen-lg: 1024px;

// Small devices
@mixin xs {
  @media (min-width: #{$screen-xs}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

// larger devices
@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

$shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.2);

body {
  background-color: color(main-regular);
  font-family: font(secondary);
}

button {
  width: 40px;
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  box-shadow: $shadow;
  @include xs {
    width: 60px;
  }
  @include sm {
    width: 80px;
  }
  &.number {
    background-color: color(regular-blue);
    color: color(white);
    &:hover {
      background-color: color(light-blue)
    }
    &:active {
      background-color: color(dark-blue)
    }
  }
  &.operator {
    background-color: color(regular-orange);
    color: color(black);
    &:hover{
      background-color: color(light-orange)
    };
    &:active{
      background-color: color(dark-orange)
    }
  }
  &.equal, &.clear {
    background-color: color(dark-orange);
    color: color(white);
    &:hover {
      background-color: color(light-orange)
    }
    &:active {
      background-color: color(regular-orange)
    }
  }
}
.calc {
  margin: auto;
}

.line {
  margin-bottom: 3%;
  text-align: center;
  @include md {
    min-width: 400px;
  }
}

nav {
  height: 100px;
  width: 100vw;
  text-align: center;
  grid-area: navbar;
  background-color: color(main-dark);
  color: white;
  font-family: font(primary);
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  position: fixed;
  left: 0px;
  top: 0px;
}

li {
  font-size: 18px;
  font-weight: bold;

  &:nth-of-type(1) {
    color: color(black);
  }
  &:nth-of-type(2) {
    color: lighten(color(black),3%)
  }
  &:nth-of-type(3) {
    color: lighten(color(black),6%)
  }
  &:nth-of-type(4) {
    color: lighten(color(black),9%)
  }
  &:nth-of-type(5) {
    color: lighten(color(black),12%)
  }
  &:nth-of-type(6) {
    color: lighten(color(black),15%)
  }
  &:nth-of-type(7) {
    color: lighten(color(black),18%)
  }
  &:nth-of-type(8) {
    color: lighten(color(black),21%)
  }
  &:nth-of-type(9) {
    color: lighten(color(black),24%)
  }
  &:nth-of-type(10) {
    color: lighten(color(black),27%)
  } 
}

main {
  margin-top: 125px;
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 9px;
  grid-template-columns: 1fr; 
  grid-template-areas: 
  " calculator "
  " result "
  "history ";

  @include md {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "calculator result"
    "history history";
    // We need to repeat this due to a prefixer bug
    section {
      &.calculator {
        grid-area: calculator;
      }
      &.results {
        grid-area: result;
      }
      &.history {
        grid-area: history;
      }
    }
  }
  @include lg {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "calculator result history";
    // We need to repeat this due to a prefixer bug
    section {
      &.calculator {
        grid-area: calculator;
      }
      &.results {
        grid-area: result;
      }
      &.history {
        grid-area: history;
      }
    }
  }
}

section {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  margin: 3px;
  padding: 20px;
  background-color: color(main-light);
  color: white;

  &.calculator {
    grid-area: calculator;
  }
  &.results {
    grid-area: result;
  }
  &.history {
    grid-area: history;
  }
}
